@import "menu.css";
@import "login.css";
@import "battle.css";
@import "status.css";
@import "loading.css";
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #121212;
}
button {
    margin-bottom: 10px;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
    button:hover {
    background-color: #4fc3f7;
    color: #121212;
} 